// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
    
}

header {
    text-align: center;

    h1 {
        margin: 80px auto 80px;
    }
}

main {
    #index & h1 {
        display: none;
    }

    .section_light {
        //background: rgba(255,255,255,0.8);
        background: #ffffff;
        margin: 40px auto;
        @include make-xs-column(12);
    }

    .section_dark {
        margin: 40px auto;
        @include make-xs-column(12);
    }

    .banner {
        min-height: 400px;

        blockquote {
            margin: 0px auto;
            background: rgba(255,255,255,0.85);
            font-size: 1.4em !important;
        }
    }

    .quote {
        padding-bottom: 20px;
        padding-top: 40px;
        blockquote {
            background: rgba(255,255,255,0.85);
        }
    }

    $map-height: 400px;

    #contact-map {
        height: $map-height;
        width: 100%;
    }

    .map-overlay {
       background: transparent; 
       height: $map-height;
       margin-top: -$map-height;
       position: relative; 
       top: $map-height;
       width: 100%;
       z-index: 1;
    }

    address {
        margin: 30px;
    }
}
