// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
    position: relative;
}

header {
    height: 250px;
    padding-top: 80px;
    text-align: center;

    h1 {
        margin: 0px auto 80px;
    }

    #menu {
        border-radius: 0px;
        position: absolute;
        width: 100%;

        #menu-primary-navigation {
            float: none;
            display: inline-block;
            vertical-align: top;
        }

        .navbar-collapse {
            text-align: center;
        }

    }
    #menu.affix {
        position: fixed;
        top: -1px;
        z-index: 2;
    }
}

main {
    #index & h1 {
        display: none;
    }

    section {
        background: #ffffff;
        margin: 40px auto;
        @include make-xs-column(12);
    }

    .bg-fall-1 {
        background: url('../images/fall_1.jpg');
        background-attachment: fixed;
        background-size: cover;
    }

    .bg-fall-2 {
        background: url('../images/fall_2.jpg');
        background-attachment: fixed;
        background-size: cover;
    }

    blockquote {
        background: rgba(255,255,255,0.85);
    }

    .primary-banner {
        height: 400px;
    }

    .banner {
        //min-height: 400px;
        padding-bottom: 30px;
        padding-top: 30px;

        blockquote {
            margin: 0px auto;
            font-size: 1.4em !important;
        }
    }

    .quote {
    }

    $map-height: 400px;

    #contact-map {
        height: $map-height;
        width: 100%;
    }

    .map-overlay {
       background: transparent; 
       height: $map-height;
       margin-top: -$map-height;
       position: relative; 
       top: $map-height;
       width: 100%;
       z-index: 1;
    }

    address {
        margin: 30px;
    }
}
